<div
  class="opening-container"
  fxLayoutAlign="center center"
  fxLayout="column"
  fxLayout.lt-md="column"
>
  <div
    class="business-container"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="40px"
    fxLayout.lt-md="column"
    fxFlex.sm="100%"
  >
    <div>
      <img
        src="../../../assets/images/greengrocer.jpg"
        alt="logo"
        width="100px"
        height="70px"
      />
    </div>

    <h1>Green Grocer Cafe Trading Hours</h1>

    <div
      class="business-hours"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="200px"
      fxLayoutGap.lt-sm="10px"
    >
      <div class="days">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
      </div>
      <div class="hours">
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
        <li>9AM - 5PM</li>
      </div>
    </div>
    <div fxLayout="column">
      <p>275 George St, Brisbane, QLD, 4000, Australia</p>
      <p class="tel-link">
        <a href="tel:+07 3211 2160">Call us today at +07 3211 2160</a>
      </p>
      <p class="tel-link">
        <a href="tel:+04 3711 2161">Call us today at +04 3711 2161</a>
      </p>
      <p>
        Email us:
        <a href="mailto:catering@greengrocer.com.au"
          >catering@greengrocer.com.au</a
        >
      </p>

      <p>
        Looking for something specific, or have a large-scale event coming up?
        Please email or call us
      </p>
    </div>
  </div>
  <div class="contact-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center cetner">
      <h2>Our Location</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.9813660773607!2d153.02017142698742!3d-27.469839476319585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a046636542d%3A0xb80ab16b24898356!2s275%20George%20Street%2C%20Brisbane%20City%20QLD%204000%2C%20Australia!5e0!3m2!1sen!2sus!4v1697333591827!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
