<div class="container">
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout="column">
      <div class="intro"><h1>Welcome everyone!</h1></div>
      <div class="center">
        <p>
          Green Grocer Cafe offers high quality corporate catering services in
          the Brisbane CBD.
        </p>
        <p>
          Our experienced chefs have created a range of flexible breakfast,
          lunch, snack, beverage and platter options to suit every budget.
        </p>
        <p>
          We understand the importance of presentation and fresh produce, and
          our staff will prepare your selections in our Brisbane City kitchen
          using the best local produce available to ensure your menu arrives in
          perfect condition, and all guests are impressed. Catering to special
          dietary requirements is no problem for our team.
        </p>

        <p>
          From breakfast meetings, celebratory morning teas, conference
          catering, corporate seminar and training day lunches through to large
          client parties or functions, our menus can be customised to meet any
          budget. We can also provide experienced service staff and a dedicated
          event coordinator to ensure your large corporate event runs smoothly
          and take care of every detail.
        </p>
      </div>
    </div>
    <div class="image" fxLayoutAlign.lt-md="center center">
      <img src="../../../assets/images/greengrocer.jpg" alt="" />
    </div>
  </div>

  <div fxLayout="column" fxlayoutAlign="center center">
    <p class="center">
      Green Grocer Cafe offers high quality catering options with a focus on
      value for money and unbeatable service. We also include free delivery to
      Brisbane CBD venues with all corporate orders. View our range of Menus or
      contact our friendly planning staff today to find out how Green Grocer
      Cafe can help with your corporate catering requirements.
    </p>
    <p class="center thank">THANK YOU FOR VISITING US</p>
  </div>
</div>
