<!-- <div>
  <img src="../../../assets/images/img_1.jpeg" alt="" />
</div> -->
<div class="container-fluid">
  <div
    class="wrapper"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center space-around"
  >
    <div
      fxFlex="50%"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="grid-one"
    >
      <div class="quote">
        <p>
          "The simple pleasure of biting into a well-crafted sandwich possesses
          a satisfaction that no other meal, whether it be the comforting warmth
          of an afternoon soup or the savory elegance of an evening dinner, can
          quite replicate."
        </p>
      </div>
      <div class="author"><p>– Oliver Wendell Holmes Sr. II</p></div>
    </div>
    <div fxFlex="50%" class="grid-two"></div>
  </div>

  <div
    class="wrapper"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center space-around"
  >
    <div fxFlex="50%" class="grid-three"></div>
    <div
      fxFlex="50%"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="grid-one"
    >
      <div class="quote">
        <p>
          "Cooking is all about people. Food is maybe the only universal thing
          that really has the power to bring everyone together. No matter what
          culture, everywhere around the world, people get together to eat."
        </p>
      </div>
      <div class="author"><p>– Guy Fieri</p></div>
    </div>
  </div>
</div>
